// import boostrap to set changes
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }



$work-sans: 'Work Sans', sans-serif;

$purple-primary: #220E65;
$lavender-primary: #F1EDFF;
$green-button: #00A579;
$alert-danger: #DC3545;
$alert-warning: #E09B00;

body {
    font-family: $work-sans;
}

.nav-background-purple {
    background-color: $purple-primary;
}

.nav-bar-responsive-links {
    display: none !important;
}

.nav-bar-title-main {
    font-weight: 600;
}

.nav-modal-container {
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $purple-primary;
    z-index: 999;
}


.nav-modal-links-container {
    margin-top: 4rem;

    hr {
        
        color: #fff;
        width: 75%;
        display: block;
        border: 0;
        border-top: 1px solid #fff;
        padding: 0;
    }

    a {
        color: #fff;
        font-size: 1.3rem;
        margin: .5rem auto;
    }

}

.close-modal-icon {
    color: #fff;
    position: absolute;
    left: 1rem;
    height: 2rem;
    width: 2rem;
}


.container-main {
    padding: 0 !important;
}

.subtitle-container {
    background-color: $lavender-primary;
    padding: 0 !important;
    text-align: center;
    height: 10rem;
}

.toggler-left {
    position: absolute;
    left: 1rem;
}


.login-subtitle {
    font-size: 1.5rem;
}

.login-form-container {
    width: 85%;
    padding-top: 2rem;
}

.login-button, .register-button {
    background-color:$green-button;
    border-color: $green-button;
}

.form-info-bottom {
    text-align: center;
    padding-top: 1rem;

    a {
        color: $green-button;
        font-weight: 500;
    }

}

//Dashboard
.welcome-message-container {
    height: 4rem;
    background-color: $lavender-primary;
    padding-left: 1.7rem;
    margin-bottom: 2rem;
}

.urgent-tasks-container, .next-seven-days-container {
    width: 85%;
}

.urgent-tasks-container {
    h6 {
        margin-right: auto;
        margin-bottom: 2rem;
    }
}

.urgent-tasks {
    width: 100%;
}

.card {
    width: 100%;
    margin: 1rem auto;
}

.card-alert-icon {
    color: red;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.next-seven-days-container {
     h6 {
         margin-right: auto;
     }
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 22px;
    height: 22px;
    margin: -1px 0px 0 0;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 2px solid $green-button;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"]:checked + span {
    background: $green-button -19px top no-repeat;
}

input[type="checkbox"] + span {
    margin-right: 4px;
}

.check-box-container label {
    color: $green-button;
    font-weight: 500;
}


.move-to-urgent {
    border: 2px solid #969696 !important;
}

.move-to-urgent-container label {
    color: #969696;
}
//Organizations

.organizations-page-main {
    padding: 0;
}

.search-field-container, .all-orgs-container {
    width: 85%;
    margin: auto;
}

.org-website-link {
    color: $green-button;
    font-weight: 600;
}


